server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: /home/shafath/IdeaProjects/TestMicroservice/config-resources

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8087/eureka
