server:
  port: 8081

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8087/eureka


management:
  endpoints:
    web:
      exposure:
        include: "*"
  security:
    enabled: false
